
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.jumbotron{
    padding-left: 3.5%;
    display: flex;
    /* margin-top: 0px; */
    /* justify-content: ; */
}

.jmb img{
    width: 9%; height: 20vh;
    margin-right: 3%;
}

/* .name_rating{
    padding-left: 3%;
    line-height: 0px;
    
} */

.jmb{
    height: 40vh;
    width: 100%;
    padding: 2%;
    background-color: #F7FAFB;
    display: flex;
}

.recruit{
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* width: 150px; */
    line-height: 0px;
    margin-top: 8%;
    font-weight: 200;
    /* display: block; */
    /* margin-bottom: 14%; */
}

.iKraft{
    font-size: 16px;
    /* margin-bottom: 16%; */
}

/* .star{
    display: block;
    margin-top: 10%;
} */

.write_rewiev{
    /* display: block; */
    /* margin-top: 5%; */
}

#button_save{
    width: 100%;
    outline: none;
    border: 2px solid #1C6FD1;
    background-color: transparent;
    border-radius: 20px;
    height: 5vh;
    margin-top: 5%;
}


.horizontal_nav{
    position: absolute;
    background-color: aqua;
    /* width: 78px; */
    height: 5vh;
    display: flex;
    overflow: auto;
    justify-content: space-around;

}

/* .horizontal_nav a{
    text-decoration: none;
    justify-content: space-around;
} */

.footer{
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    bottom: 0%;
    padding-left: 2%;
    padding-right: 2%;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    padding-top: 2%;
    width: 100%;
    height: 40vh;
    background-color: #002E47;
}

.footer-card{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 15%;
    height: 70%;
    font-size: 14px;
    /* background-color: red; */
    color: aliceblue;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    list-style-type: none;
}

.footer-card-heading{
    font-size: 16px;
    
    line-height: 24px;
    border-bottom: .5px solid #fefefe;
}

@media screen and (max-width: 320px) {

    .jmb{
        /* background-color: red; */
        padding-left: 5%;
    }

    .jmb img{
        width: 23%; height: 15vh;

    }

    .jmb .recruit{
        font-size: 24px;
        margin-top: 10%;
        /* margin-bottom: 3%; */
    }

    .iKraft{
        font-size: 16px;
        /* margin-top: 15%; */
    }

    .star{
        position: absolute;
        top:53%;
        left:5%; 
        /* display: block; */
        /* margin-top: 10%; */
    }
    .write_rewiev{
        display: block;
        /* margin-top: 1%; */
    }

    .button{
        margin-top: 150%;
        width: 150px;
    }

    #button_save{
        position: absolute;
        top:60%;
        left:5%;
        height: 7%;
        width: 70%;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        /* position: absolute; */
        bottom: 0%;
        padding-left: 2%;
        padding-right: 2%;
        /* flex-wrap: nowrap; */
        flex-wrap: wrap;
        padding-top: 2%;
        width: 100%;
        /* overflow: auto; */
        height: min-content ;
        background-color: #002E47;
    }
    
    .footer-card{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 40%;
        min-height: 70%;
        font-size: 14px;
        /* background-color: red; */
        color: aliceblue;
        line-height: 24px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 200;
        list-style-type: none;
    }
    
    .footer-card-heading{
        font-size: 16px;
        
        line-height: 24px;
        border-bottom: .5px solid #fefefe;
    }
    





    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;
        background-color: red; 
    }
  }
  